<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="HOISO" value="Data Source=DESKTOP-1N4F6N4\MAYCHUTPHCM;Initial Catalog=MyPham_CSDLPT;Integrated Security=True" />
    <add key="USERID" value="sa" />
    <add key="PASSWORD" value="sa2012" />
  </appSettings>



</configuration>